*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
background:#87CEEB;
}

canvas{
display:block;
}
#controls{
position: fixed;
bottom: 20px;
width:100%;
display:flex;
justify-content: space-around;
z-index:100;
}

#controls button{
width:70px;
height:70px;
border:none;
border-radius: 50%;
font-size:30px;
background: rgba(255,255,255,0.7);
}