*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#667eea,#764ba2);
    transition:0.4s;
}


.container{

    width:420px;
    padding:25px;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);

    border-radius:25px;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.25);

    color:white;
}



.top-bar{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;

}


h1{

    font-size:28px;

}



button{

    border:none;
    cursor:pointer;

    padding:10px 15px;

    border-radius:12px;

    background:#00c853;

    color:white;

    font-weight:bold;

    transition:0.3s;

}


button:hover{

    transform:scale(1.05);

}



#themeBtn{

    background:#222;

}



.input-box{

    display:flex;
    gap:8px;
    margin-bottom:15px;

}



input,select{

    padding:12px;

    border:none;

    border-radius:12px;

    outline:none;

}



#taskInput{

    flex:1;

}



#searchInput{

    width:100%;

    margin-bottom:15px;

}



.filters{

    display:flex;

    justify-content:space-between;

    margin-bottom:15px;

}



.filterBtn{

    background:#2196f3;

}



.stats{

    display:flex;

    justify-content:space-between;

    margin-bottom:15px;

}



ul{

    list-style:none;

}



li{

    background:rgba(255,255,255,0.25);

    margin-bottom:12px;

    padding:15px;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    animation:slide .3s ease;

}



@keyframes slide{

    from{
        transform:translateY(20px);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }

}



.task-text{

    cursor:pointer;

    flex:1;

}



.completed{

    text-decoration:line-through;

    opacity:0.6;

}



.deleteBtn{

    background:#ff1744;

    padding:7px 12px;

}



.editBtn{

    background:#ff9800;

    margin-right:5px;

}



.priority-high{

    border-left:6px solid red;

}



.priority-medium{

    border-left:6px solid orange;

}



.priority-low{

    border-left:6px solid lime;

}



.date{

    font-size:12px;

    opacity:0.8;

}



#clearBtn{

    width:100%;

    margin-top:15px;

    background:#e53935;

}



.dark{

    background:#121212;

}



.dark .container{

    background:rgba(0,0,0,0.5);

}



@media(max-width:500px){

    .container{

        width:90%;

    }


    .input-box{

        flex-direction:column;

    }

}